/*Navbar Bootstrap*/
$color-menu: #a90019;

.menu,
.footer-social-media {
  background-color: $color-menu;
}

.conzert {
  color: $color-menu;
}

#slider {
  max-width: 650px;
  margin: 0 auto;
}