@import "variables";
@import "prueba";

.menu,
.footer-social-media {
  background-color: $main-color;
}

.conzert {
  color: $main-color;
}

#slider {
  max-width: 650px;
  margin: 0 auto;
}