/*HACKS*/
* {
  margin: 0;
  padding: 0;
  /*Para que el padding no le sume borde a las cajas*/
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}
/*Para que mi imágen se adapte a los distintos tamaños de pantalla*/
img {
  max-width: 100%;
}
/*Para que las imágenes svg siempre estén en el centro*/
img,
svg {
  vertical-align: middle;
}
.container {
  width: 80%;
  /*Para centrar containers*/
  margin: 0 auto;
  max-width: 1320px;
}

/*Navbar Bootstrap*/
.menu {
  background-color: #a90019;
}

/*HEADER*/
header {
  background-color: #a90019;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1rem;
}
.logo {
  position: relative;
  padding: 0.5rem;
  height: 12rem;
  max-width: 5rem;
  max-height: 5rem;
  margin-right: 12rem;
}
nav .row {
  align-items: center;
  display: flex;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__item {
  margin: 2rem;
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
}
.nav__link:hover,
.nav__link:focus {
  border-bottom: 2px solid #000000;
}

/*FOOTER*/
.footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #000000;
}
.footer__title {
  color: #212121;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
}
.footer-social-media {
  background: linear-gradient(to bottom, #a90019, #44010b);
  color: #ffffff;
  padding-top: 1rem 0rem 1rem 0rem;
}
.footer-social-media a {
  color: #ffffff;
  padding-left: 1rem;
  text-decoration: none;
  font-weight: 400;
}
.footer-social-media a:hover {
  opacity: 0.55;
}
.footer-social-media a i {
  font-size: 1rem;
  margin-top: 5rem;
}
.footer-bottom {
  text-align: center;
  color: #ffffff;
  font-size: 0.85rem;
  padding: 0.5rem;
}

/*IMAGEN PRINCIPAL*/
.main__image {
  background-image: url(../imagenes/Piano.jpg);
  padding: 5rem;
  height: 90%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1200px;
  height: 400px;
}
.main__image-title {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.main__title {
  font-size: 5rem;
  font-weight: 400;
}
.main__sub-title {
  font-size: 2rem;
  font-weight: 200;
}

/*INICIO*/
.main__intro {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.gallery__main-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.gallery__main-images {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 1rem;
  overflow: hidden;
}
.gallery__main-images ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite linear;
}
.gallery__main-images li {
  width: 100%;
  list-style: none;
}
.gallery__main-images img {
  width: 100%;
}

/*PESTAÑAS*/
.main__title-sections {
  font-size: 1.5rem;
  text-align: center;
}

/*QUIÉNES SOMOS*/
.conzert {
  font-size: 1.5rem;
  color: #a90019;
}
.title__mision-vision {
  padding: 1rem;
}
.mision {
  display: flex;
  margin: 2rem;
  text-align: center;
  justify-content: center;
}
.mision .col {
  width: 38%;
  background-color: #b9b6b6;
  padding: 0.5rem;
  margin: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 1);
  border-radius: 1.5rem;
}
.team {
  background-color: #f5f5f5;
  padding: 0.5rem;
  margin: 1.5rem;
  text-align: center;
}
.team h3 {
  padding: 0.5rem;
}
.fer__image {
  width: 15rem;
  padding: 1rem;
}
.jose__image {
  width: 15rem;
  padding: 1rem;
}
.team .row {
  display: grid;
  text-align: justify;
  grid-template-columns: 200px auto;
  column-gap: 20px;
}
.team:nth-child(even) .row {
  grid-template-columns: auto 200px;
}
.team:nth-child(even) img {
  order: 1;
}

/*PLAN DE ESTUDIOS*/
table {
  border: 3px solid #000000;
}
th {
  background-color: #dc143c;
}
.table__list li {
  list-style: none;
}
.main__table {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*NOTICIAS*/
.events .col {
  background-color: #f5f5f5;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.events h3 {
  padding: 1.5rem;
}
.grid__liszt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 1rem;
}
.grid__liszt img {
  width: 30rem;
}
.grid__recital-december {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 1rem;
}
.grid__recital-december img {
  width: 30rem;
}
.pictures__liszt {
  transition: transform 5s ease-in-out;
}

/*CONTACTO*/
.form__contact {
  background-color: #f5f5f5;
  padding: 0.5rem;
  margin: 1.5rem;
  text-align: center;
}

/*KEYFRAMES*/
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
